<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

<head>
    <meta charset="UTF-8">
    <title>基础信息列表</title>
    <link rel="stylesheet" th:href="@{/lib/layui/css/layui.css}"/>
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/animate.min.css}">
    <link rel="stylesheet" th:href="@{/iconfont/iconfont.css}">
</head>

<style>
    html, body {
        height: 100%;
        margin:0;padding:0;
        font-size: 12px;
    }
    div{
        -moz-box-sizing: border-box;  /*Firefox3.5+*/
        -webkit-box-sizing: border-box; /*Safari3.2+*/
        -o-box-sizing: border-box; /*Opera9.6*/
        -ms-box-sizing: border-box; /*IE8*/
        box-sizing: border-box; /*W3C标准(IE9+，Safari5.1+,Chrome10.0+,Opera10.6+都符合box-sizing的w3c标准语法)*/
    }

    .layui-table-view .layui-table {width:100%}
</style>

<body class="animated fadeIn">

    <div class="page-loading">
        <div class="rubik-loader"></div>
    </div>

    <div style="height: 100%">
        <div style="height: 100%">
            <div style="padding: 20px; background-color: #F2F2F2;height:100%;">
                <div class="layui-row layui-col-space15">
<!--                    <div class="layui-col-md3">-->
<!--                        <div class="layui-card">-->
<!--                            <div class="layui-card-header">部门树</div>-->
<!--                            <div class="layui-card-body" id="toolbarDiv">-->
<!--                                <ul id="deptTree" class="dtree" data-id="0"></ul>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
                    <div class="layui-col-md12">
                        <div class="layui-card">
                            <div class="layui-card-header" id="card-header">一卡通视图信息列表</div>
                            <div class="layui-card-body">
                                <table class="layui-hide" id="custcardinfo-table"></table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/html" id="toolbar">

    </script>


    <script type="text/html" id="column-toolbar">



    </script>

    <script th:src="@{/lib/jquery/jquery.min.js}"></script>
    <script th:src="@{/lib/layui/layui.js}"></script>
    <script th:src="@{/js/common.js}"></script>

    <script>
        var parentDeptId = 0;

        // 获取有没有删除, 更新, 和新增的权限.
        var hasDeptDelete = false;
        var hasDeptUpdate = false;
        var hasDeptAdd = false;

        $.get('/security/hasPermission/dept:update', function (data) {
            hasDeptUpdate = data.data;
        });
        $.get('/security/hasPermission/dept:delete', function (data) {
            hasDeptDelete = data.data;
        });
        $.get('/security/hasPermission/dept:add', function (data) {
            hasDeptAdd = data.data;
        });

        layui.config({
            base: '/lib/layui/extend/'
        }).use(['jquery', 'dtree', 'layer', 'table', 'element', 'tablePlug'], function () {
            var dtree = layui.dtree;
            var layer = layui.layer;
            var table = layui.table;
            var tablePlug = layui.tablePlug;

            tablePlug.smartReload.enable(true);

            table.render({
                elem: '#custcardinfo-table'
                , url: '/custCardInfo/list'
                , page: true
                , toolbar: '#toolbar'
                , smartReloadModel: true
                , cols: [
                    [
                        {type: 'numbers', title: '序号', width: "3%"}
                        , {field: 'stuEmpNo', title: '学工号', hide: false}
                        , {field: 'custName', title: '姓名'}
                        , {field: 'cardNo', title: '卡号'}
                        , {field: 'cardStatus', title: '卡状态'}
                        , {field: 'statusName', title: '卡状态注释'}
                        , {field: 'showCardNo', title: '显示卡号'}
                        ,{field:'cardPhyId',title:'cardPhyId'}
                        ,{field:'expireDate',title:'expireDate'}
                        ,{field:'openDate',title:'openDate'}
                        ,{field:'cardVerNo',title:'cardVerNo'}
                        ,{field:'cardType',title:'cardType'}
                        ,{field:'cardTypeName',title:'cardTypeName'}
                        ,{field:'custId',title:'custId'}
                        ,{field:'custType',title:'custType'}
                        ,{field:'custTypeName',title:'custTypeName'}
                        ,{field:'deptCode',title:'deptCode'}
                        ,{field:'deptName',title:'deptName'}
                        ,{field:'specialtyCode',title:'specialtyCode'}
                        ,{field:'specialtyName',title:'specialtyName'}
                        ,{field:'sex',title:'sex'}
                        ,{field:'idType',title:'idType'}
                        ,{field:'idTypeName',title:'idTypeName'}
                        ,{field:'idNo',title:'idNo'}
                        ,{field:'areaCode',title:'areaCode'}
                        ,{field:'areaName',title:'areaName'}
                        ,{field:'classCode',title:'classCode'}
                        ,{field:'className',title:'className'}
                        ,{field:'countryCode',title:'countryCode'}
                        ,{field:'country',title:'country'}
                        ,{field:'email',title:'email'}
                        ,{field:'nationCode',title:'nationCode'}
                        ,{field:'nation',title:'nation'}
                        ,{field:'inDate',title:'inDate'}
                        ,{field:'outDate',title:'outDate'}
                        ,{field:'tel',title:'tel'}
                        ,{field:'mobile',title:'mobile'}
                        ,{field:'addr',title:'addr'}
                        ,{field:'zipCode',title:'zipCode'}
                        ,{field:'cardUpdTime',title:'cardUpdTime'}
                        ,{field:'custUpdTime',title:'custUpdTime'}
                        ,{field:'photo',title:'photo',templet: function(d){
                            // let blob = new Blob([d.photo],  {type: 'image/jpeg;charset=GBK'});
                            return '<img src="data:image/jpeg;base64,'+ d.photo +'"/>'
                        }}
                        ,{field:'photoExactTime',title:'photoExactTime'}
                        ,{field:'id',title:'id'}
                    ]
                ]
            });


            table.on('toolbar', function (obj) {
                var event = obj.event;
                if (event === 'add') {
                    add(parentDeptId);
                }
            });

            table.on('tool', function (obj) {
                var data = obj.data;
                var swapId;
                var currentId;
                if (obj.event === 'edit') {
                    edit(data.id);
                } else if (obj.event === 'del') {
                    del(data.id);
                } else if (obj.event === "up") {
                    swapId = $(obj.tr).prev().find("td[data-field='id'] div").html();
                    currentId = data.id;
                    if (typeof swapId == 'undefined') {
                        layer.msg("已是第一层");
                        return;
                    }
                    swapSort(currentId, swapId);
                } else if (obj.event === "down") {
                    swapId = $(obj.tr).next().find("td[data-field='id'] div").html();
                    currentId = data.id;
                    if (typeof swapId == 'undefined') {
                        layer.msg("已是最后一层");
                        return;
                    }
                    swapSort(currentId, swapId);
                } else if (obj.event === "top") {
                    swapId = $("tr[data-index='0']").first().parent().children().first().find("td[data-field='id'] div").html();
                    currentId = data.id;
                    swapSort(currentId, swapId);
                } else if (obj.event === "bottom") {
                    swapId = $("tr[data-index='0']").first().parent().children().last().find("td[data-field='id'] div").html();
                    currentId = data.id;
                    swapSort(currentId, swapId);
                }
            });


            function refresh() {
                table.reload("custcardinfo-table");
                DTree.menubarMethod().refreshTree();
            }


        });
    </script>
</body>

</html>